global-reset()
normalize-css()

*,*:before,*:after
  box-sizing: border-box
  padding 0
  margin 0

html, body, #app, main
  height 100%
  
li
  list-style none
  
a,button,select
  text-decoration none
  &:focus
    outline none

main
  clearfix()
  overflow-y auto
  .error, .success
    position absolute
    display inline-block
    width 200px
    top -100px
    left 50%
    margin-left -100px
    z-index 8
    transition top 0.3s ease
    &.active
      top 5px

.content
  margin-left 200px
  padding 80px 20px 20px 20px
  height 100%
  @media mq-mobile
    margin 0
    

form
  item
    padding-top 10px
  label:not(.checkbox)
    display block
    margin-bottom 5px
  input
    margin 5px 0
    text-align center
    &:not([type='checkbox'])
      border 1px solid rgb(211, 211, 211)
      border-radius 5px
      height 30px
      width 100%
    &:focus
      border-color #51a7e8
      outline none
      box-shadow inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 5px rgba(81, 167, 232, .5)
    &[type='checkbox']
      margin-right 10px
  button.submit
    margin 5px 0
    border 1px solid rgb(211, 211, 211)
    border-radius 5px
    height 30px
    width 100%
    color white
    border-radius 5px
    background-color #55a532
    background-image -webkit-linear-gradient(#85d063, #4f992f)
    background-image linear-gradient(#85d063, #4f992f)
    border-color #519d30
    &:hover
      cursor pointer
      opacity .8

.panel
  border 1px solid #d8dee2
  padding 20px
  margin-top 20px
  
h1,.add-new
  display inline-block
  vertical-align middle
.add-new
  padding 4px 8px
  border 1px solid #ccc
  border-radius 3px
  background-color #f7f7f7
  font-size 13px
  font-weight 600
  color #0073aa
  margin-left 10px
  cursor pointer
  &:hover
    color #fff
    background-color #0073aa

.user .item
  margin 10px 0
  label
    display inline-block
    width 100px
  input
    padding 5px 10px

.user button
  border 1px solid button-border
  box-shadow 0 1px 0 button-shadow
  border-radius 3px
  background-color button-bg
  padding 2px 10px
  cursor pointer
  opacity .7
  &:hover
    opacity 1 
