.table
  display table
  width 100%
  margin-top 10px
  border 1px solid #e5e5e5
  .table-cell
    display table-cell
    padding 8px 10px
    @media mq-mobile
      display none
      &:first-child
        display block
    &:first-child
      width 60%
  .table-header
    display table-header-group
    background-color white
    border 1px solid black
    .table-cell:first-child
      padding-left 20px
  .table-body
    display table-row-group
  .table-row
    display table-row
    background-color #f9f9f9
    &:nth-of-type(2n)
      background-color white
    &:hover .action
      opacity 1
    .table-cell:not(:first-child)
      padding-left 12px
  .title
    font-weight 500
    margin-left 10px
  .action
    opacity 0
    font-size 13px
    a
      margin 10px
      color #0073aa
      &.trash
        color red
      &:hover
        opacity .7
  .mobile
    display none
    margin-left 10px
    font-size 14px
    span 
      display inline-block
      width 100px
    @media mq-mobile
      display block
  
.list
  height 100%
  padding 30px 20px
  background-color #f1f1f1
  h1,.add-new
    display inline-block
    vertical-align middle
  .add-new
    padding 4px 8px
    border 1px solid #ccc
    border-radius 3px
    background-color #f7f7f7
    font-size 13px
    font-weight 600
    color #0073aa
    margin-left 10px
    &:hover
      color #fff
      background-color #0073aa
  .data a
    margin 0 10px
    color #0073aa
    cursor pointer
    &:first-child
      margin-left 0
    &.active
      color black
      font-weight 600
    
  
    