.topbar 
  clearfix()
  height 50px
  border-bottom 1px solid grey-light
  position fixed
  z-index 998
  right 0
  width 100%
  background-color #f7f7f7
  text-align center
  .login
    line-height 50px
    float right
    width 100px
    cursor pointer
    &:after
      content "\F0DD"
      display inline-block
      font normal normal normal 14px/1 FontAwesome
      font-size inherit
      padding-bottom 8px
      margin-left 10px
      vertical-align middle
    &:hover
      &:after
        content "\f0de"
        padding-top 15px
      ul
        display block
  .login-list
    display none
    position absolute
    top 55px
    right 5px
    border 1px solid grey-light
    box-shadow 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    .item
      line-height 30px
      margin 5px 0
      width 100px
      cursor pointer
      &:hover
        background-color blue-grey
    &:hover
      display block
    &:before
      display block
      position absolute
      width 100%
      content ' '
      height 10px
      top -10px
        
    
  
    
  