// ----------------------
// Custom global variables
// ----------------------

mq-desktop = 'screen and (min-width: 1024px)'
mq-tablet = 'screen and (max-width: 1023px) and (min-width: 768px)'
mq-mobile = 'screen and (max-width: 767px)'
mq-below-desktop = 'screen and (max-width: 1023px)'



grey-light = #bdbdbd
blue-light = #bbdefb
blue-grey = #cfd8dc
grey-darken = #424242
bluepost = #0073aa
grey-border = #e5e5e5
button-border = #999
button-bg = #fafafa
button-shadow = #ccc
grey-bodybg = #f1f1f1
blueborder = #006799
// ----------------------
// custom function
// ----------------------

placeholder2()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

frac2perc(n)
  return (n*100)%