global-reset()
normalize-css()

body.login, body.register
  header
    display none
    
body
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size 14px
  color #333
  
form
  .item
    padding-top 10px
  label:not(.checkbox)
    display block
    margin-bottom 5px
  input:not([type='checkbox'])
    border 1px solid rgb(221, 221, 221)
    border-radius 5px
    height 30px
    width 100%
  input:focus 
    border-color #51a7e8
    outline none
    box-shadow inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5)
  input[type='checkbox']
    margin-right 10px
  input[type='submit']
    color white
    border-radius 5px
    &:hover
      cursor pointer
      opacity .8
    &.login, &.register
      background-color #55a532
      background-image -webkit-linear-gradient(#85d063, #4f992f)
      background-image linear-gradient(#85d063, #4f992f)
      border-color #519d30
      
.panel
  border 1px solid #d8dee2
  padding 20px
  margin-top 20px
  
.error, .success
  padding 12px

.error
  color #D8000C
  background-color #FFBABA
  text-align center
    
.success
  color #4F8A10
  background-color #DFF2BF
  text-align center

/* Header */
.header 
  padding 10px 0
  background-color #f5f5f5
  border-bottom 1px solid #e5e5e5
  font-size 13px
  line-height 20px
  color #333
  text-align center
  .title
    font-weight 600
    text-align center


/* Footer */
.footer
  padding 20px 0
  text-align center
  li
    display inline-block
    padding 0 10px


/* Sign in */
main.form 
  width 80%
  max-width 300px
  margin 0 auto
  padding 100px 0
  .title 
    text-align center
    font-size 32px
    font-weight 300
    letter-spacing -0.5px

main img 
  display block
  margin 0 auto





  