global-reset()
normalize-css()

*,*:before,*:after
  box-sizing: border-box

body
  border 0
  margin 0

#blog
  global-reset()
  normalize-css()

  *
    box-sizing border-box

  body
    border 0
    margin 0

  li
    list-style none

  .markdown-body li
    list-style inherit

  a
    text-decoration none

  h1, .entry-content
    text-align center

  .violet
    background violet
  .indigo
    background indigo
  .blue
    background blue
  .green
    background green

  .header-mask
    overflow hidden
    position fixed
    top 0
    width 100%
    height 8px
    z-index 999
    > div
      height 8px
      width 25%
      float left

  main
    margin 0 auto
    width calc(100% - 400px)
    max-width 800px
    @media mq-tablet
      width calc(100% - 240px)
      margin-left 200px
    @media mq-mobile
      width 80%
      
  .list .excerpt
    margin-bottom 10px

  article
    border-bottom 1px dotted #aaa
    padding-top 40px
    padding-bottom 20px
    .header, .footer
      margin-bottom 10px
    .backTop
      position fixed
      right 2px
      bottom 40px
      opacity 0
      transition all .3s ease-out
      &.show
        opacity 1
      a
        color blue
        font-weight bolder
        transition all .3s ease-out
        cursor pointer
        &:hover
          color topmenu
    .toc
      position fixed
      width calc((100% - 800px) / 2 - 20px)
      min-width 180px
      right 10px
      top 10px
      margin 5px
      border 1px solid borderGray
      padding 5px
      a
        color link-blue
        &:hover
          color link-green
      h2
        font-size 18px
        border-bottom 1px solid borderGray
      ul#toc
        padding-left 0
        margin 0
        max-height 300px
        overflow-y auto
        ul
          padding-left 20px
      .toggle
        display none
        position absolute
        width 30px
        top 0
        left -35px
        background-color green
        color white
        padding 5px
        cursor pointer
        border-radius 5px
        transition all .3s ease-out
        &:hover
          background-color blue
      @media mq-below-desktop
        background-color white
        top 160px
        transform translateX(100% + 10px)
        transition all .3s ease-out
        &.show
          transform translateX(0)
        .toggle
          display block

    h2
      margin 0
      font-size 30px
      font-weight bolder
      color title
      a
        font-size 30px
        color title
        transition all .3s ease-out
        &:hover
          color blue
      @media mq-mobile
        font-size 26px
        a
          font-size 26px
    .date
      display inline-block
      margin 0
      font-family Meta
      font-size 12px
      font-weight 300
      position relative
    .readmore
      padding 8px 15px
      color white
      font-family 'Hiragino Sans GB'
      font-weight 600
      &:after
        content " »"
        display inline-block
        width 0
        height 100%
        line-height 15px
        vertical-align middle
        overflow hidden
        transition all .15s ease-in
      &:nth-child(2n+1)
        background-color violet
      &:nth-child(2n)
        background-color indigo
      &:hover
        background-color blue
        &:after
          width 16px
          padding-left 5px
