// colors
// blog
topmenu = #00c1d3
violet = #784a97
indigo = #706AA1
blue = #69A8C0
green = #7CD5B1
link-green = #57a87b
link-blue = #4296B6
title = #333333
borderGray = #e2e2e2
// admin
grey-light = #bdbdbd
blue-light = #bbdefb
blue-grey = #cfd8dc
grey-darken = #424242
bluepost = #0073aa
grey-border = #e5e5e5
button-border = #999
button-bg = #fafafa
button-shadow = #ccc
grey-bodybg = #f1f1f1
blueborder = #006799

// media point
mq-desktop = 'screen and (min-width: 1024px)'
mq-tablet = 'screen and (max-width: 1023px) and (min-width: 768px)'
mq-mobile = 'screen and (max-width: 767px)'
mq-below-desktop = 'screen and (max-width: 1023px)'


// fonts

font-face(family, font=family, weight=normal, style=normal)
  @font-face
    font-family: family
    font-weight: weight
    font-style: style
    src: url('~@/assets/fonts/'+font+'/'+font+'.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/'+font+'/'+font+'.woff') format('woff'),
        url('~@/assets/fonts/'+font+'/'+font+'.ttf')  format('truetype'),
        url('~@/assets/fonts/'+font+'/'+font+'.svg#'+font+'') format('svg')

font-face('Meta', 'FFMetaPro-Normal', 400)
