<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <title>{{ post.title }}</title>
  <base href="/">
  <link rel="stylesheet" href="assets/style.css">
  <script src="assets/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,600,700" rel="stylesheet">
</head>
<body class="{% block body_class %}{% endblock %}">
  <div class="site">
    {% include 'includes/header.html' ignore missing %}
    {% include 'includes/sidebar.html' ignore missing %}
    {% block main %}{% endblock %}
    {% include 'includes/footer.html' ignore missing %}
  </div>
  <script src="assets/main.js"></script>
</body>
</html>