{% extends 'base.html' %}

{% block body_class %}login{% endblock %}

{% block main %}
<main class="form">
  <div class="title">Sign in</div>
  <div class="panel sign-form">
    <form action="/" method="post">
      <div class="item">
        <label for="username">Username</label>
        <input type="text" id="username" name="user">
      </div>
      <div class="item">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </div>
      <div class="item">
        <input type="checkbox" id="remember" name="remember"><label class="checkbox" for="remember">Remeber Me</label>
      </div>
      <div class="item">
        <input class="login" type="submit" value="Login">
      </div>
    </form>
  </div>
  <div class="panel new">
    New to here? <a href="/register" class="register">Create a account.</a>
  </div>
</main>
{% endblock %}